#!/bin/bash
SECRET_KEY_BASE=themostsecretstring \
RAILS_ENV=production \
RAILS_LOG_TO_STDOUT=1 \
DB_HOST=127.0.0.1 \
DB_PORT=5432 \
DB_NAME={{ app_db }} \
DB_USER={{ app_db_user }} \
DB_PASSWORD={{ db_password }} \
scl enable rh-ruby26 -- bundle exec puma -b unix:///var/run/puma.sock -e {{ app_environment }} config.ru